/* character encoding for CSS files.  */
@charset "utf-8";

/* font face */

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Isaac
   Date:   9/15/2023
   
   Filename: ph_styles.css

*/

/* Structural Styles */

/* Navigation Styles */

/* Section Styles */

/* Description List Styles */
